<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<body>
    <form action="{% url 'myblog:changeAction' art.id %}" method="post">
        {% csrf_token %}
        <label for="">原标题</label>
        <input type="text" value="{{ art.title }}" name="title">
        <br/>
        <label for="">原内容</label>
        <input type="text" value="{{ art.content }}" name="content">
        <br/>
        <input type="submit" value="确定">
    </form>
</body>
</html>